@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Bem vindo!</h1>
        <p class="lead">Este é um sistema para gerenciamento de vendedores e de suas vendas.</p>
        <hr class="my-4">
        <p>Aqui, é possível ter controle das vendas efetuadas por cada vendedor e em cada departamento.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Detahes</a>
        </p>
    </div>
